 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Eu crio software! 
                    </p>
                    <p>
                        Atualmente ocupo parte do meu tempo como CTO da <a href="http://www.beetouch.com.br">BeeTouch</a>, criando soluções tecnológicas inovadoras que facilitam a gestão de programas de saúde e qualidade de vida. 
                    </p>
                    <p>
                        Também trabalho como desenvolvedor independente em projetos mobile e web, for fun and profit ;) Caso queira conhecer um pouco do meu trabalho, verifica meus <a href="#portfolio">projetos</a> um pouco mais acima.
                    </p>
                    <p>
                        Caso queira me encontrar na web, me contratar para desenvolver um projeto mirabolante ou apenas falar sobre alguma idéia maluca, entre em <a href="#contact">contato</a> ou me encontre na pela web.
                    </p>
                </div>
            </div>
        </div>
    </section>